 header{
    width: 100%;
    height: 25%;
 }




 #titulo{
        border: 3px;
        }
        #entra{

    }
        #creacuenta{

    }
        #decidiendo{

    }
        #descubrir{

    }
        #busca{

    }
        #sidebar{

        }
        #lectoresonline{

        }
        #librospatrocinados{

        }
        #listas{

        }
        #eres{

        }